VALHEIM_DIR=/opt/valheim
VALHEIM_SERVICE=valheim.service
BACKUP_SERVICE=valheim-backup.service
BACKUP_TIMER=valheim-backup.timer
STEAMCMD=/opt/valheim/steamcmd/steamcmd.sh
SERVER_DIR=/opt/valheim/server
VALHEIM_OWNER=valheim
VALHEIM_GROUP=valheim
RCLONE_CONFIG=
RCLONE_REMOTE=valheim-drive:
